.background {
    -fx-background-color: white;

}

.game-chooser-category {

}

.serial-port-choicebox {
    -fx-background-color: lightgray;
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
    -fx-min-width: 420px;
}

.serial-port-choicebox .menu-item:focused {
    -fx-background-color: darkgray ;
    -fx-text-fill: black;
}

.serial-port-choicebox .context-menu {
    -fx-background-color: white;
    -fx-text-fill: white;
}

.game-chooser-label {
    -fx-font-size: 48px;
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: bolder;
}

.score-panel-label {
    -fx-font-size: 48px;
    -fx-font-family: "Helvetica Neue";
}

.score-panel-value {
    -fx-font-size: 48px;
    -fx-font-weight: bolder;
    -fx-font-family: "TlwgTypewriter";
}

.game-chooser-button {
    -fx-min-width: 400px;
    -fx-font-size: 36px;
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: bolder;
    -fx-padding: 30;
    -fx-text-fill: white;
    -fx-background-color: #555555;
    -fx-border-color: black;
    -fx-border-width: 10;
}